<section id="about" class="about" background-color="black">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <img src="img/ppicture.jpg" class="img-circle" height="300" width="300"><br><br>
        <p class="lead">I am currently pursuing a Computer Science Bachelor degree at the National University of Singapore and will be graduating in 2019. I have a strong passion in programming and software development. Currently, I am specialising in Artificial Intelligence as I believe that it is an interesting field with limitless opportunities and potential. I am also adaptable, committed and a fast learner who works well both in teams and individually. In my free time, I enjoy doing taking photographs as it allows me to freeze moments in life that I cherish.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
