<section id="about" class="about" style="background-color: #EFEFEF;">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>About me</h2>
        <hr class="medium">
        <img src="img/ppicture.jpg" class="img-circle" height="250" width="250"><br><br>
        <p class="lead">I am currently pursuing a Computer Science Bachelor degree at the National University of Singapore and will be graduating in 2019. I have a strong passion in programming and software development. As a software engineer, I pride myself on writing readable and testable code that is scalable. I believe that Artificial Intelligence provides for unique ways to solve many problems that were not solvable in the past. I am also adaptable, committed and a fast learner who works well both in teams and individually. In my free time, I enjoy doing taking photographs as it allows me to freeze moments in life that I cherish.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
