<section id="about" class="about" style="background-color: #EFEFEF;">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>About me</h2>
        <hr class="medium">
        <img src="img/ppicture.jpg" class="img-circle" height="250" width="250"><br><br>
        <p class="lead" align="left">I am currently pursuing a Computer Science Bachelor degree at the National University of Singapore and am currently looking for an internship related to Software Engineering and Artificial Intelligence. I have a strong passion in programming and software development. As a software engineer, I pride myself on writing readable and testable code that is scalable. I believe that Artificial Intelligence provides for unique ways to solve many problems that were not solvable in the past.</p>

        <p class="lead" align="left"> I am not only a hardworker, but also a smart worker who tries to find unique and efficient methods to solve problems. I do not give up easily and will always try my best to achieve the best solutions to any given problem.
          </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
