<aside class="call-to-action" style="background-color: #D8D8D8;" >
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10">

				<body>
					<div class="container">
					  <h1>Simple Animated Timeline Scroller</h1>
					   <div class="left-content">
					      <p>Content 01</p>
					      <p>Content 02</p>
					      <p>Content 03</p>
					      <p>Content 04</p>
					      <p>Content 05</p>
					      <p>Content 06</p>
					      <p>Content 07</p>
					      <p>Content 08</p>
					      <p>Content 09</p>
					      <p>Content 10</p>
					   </div>
					   <div class="right-content">
					      <p>Content 01</p>
					      <p>Content 02</p>
					      <p>Content 03</p>
					      <p>Content 04</p>
					      <p>Content 05</p>
					      <p>Content 06</p>
					      <p>Content 07</p>
					      <p>Content 08</p>
					      <p>Content 09</p>
					      <p>Content 10</p>
					   </div>
</div>
</body>



			</div>
		</div>
	</div>

</aside>
