<aside class="call-to-action" background-color="black">
	
  
<!--
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        
        <section id="cd-timeline" class="cd-container">
        	<div class="cd-timeline-block">
        		<div class="cd-timeline-img cd-picture">
        			<img src="img/cd-icon-picture.svg" alt="Picture">
        		</div>

        		<div class="cd-timeline-content">
        			<h2>Servlink Desktop Technician</h2>
        			<p>Hello test test</p>
        		</div>
       		 </div>

       		 <div class="cd-timeline-block">
       		 	<div class="cd-timeline-img cd-movie">
       		 		<img src="img/cd-icon-movie.svg" alt="Movie">
       		 	</div>

       		 	<div class="cd-timeline-content">
       		 		<h2>Android Developer Intern</h2>
       		 		<p>Hello test 2</p>
       		 		<span class="cd-date">Jan 18</span>
       		 	</div>
       		 </div>
       	</section>



      </div>
    </div>
  </div>
-->
</aside>
