<section id="education">
	<div class ="container">
		<div class="row text-center">
		    <div class="col-lg-10 col-lg-offset-1">
		    	<h1>Education</h1>
		    	<hr class="small">
		    	
		    	<div class ="row">
		    		<div class="col-md-8 col-md-offset-2">
		    			<div class="media">
		    				<div class="media-left">
		    					<img src="img/nus.jpg" height="200" width="200">
		    				</div>
		    				<div class="media-body">
		    					<h4 class="media-heading">National University of Singapore</h4>
		    					<i>August 2015 - Present</i>
		    					<p>
		    					<ul>
		    					<li>Bachelor Degree in Computer Science</li>
		    					<li>Member of Operation Orion, an Overseas Community Involvement Program to Nepal</li>
		    					<li>Committee Member of Computing Freshmen Social Camp 2016</li>
		    					<li></li>
		    					</ul>
		    					</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>

		    	<div class="row">
		    		<div class="col-md-8 col-md-off-set-2">
		    			<div class="media">
		    				<div class="media-left">
		    					<img src="img/sajc.gif" height="200" width="200">
		    				</div>
		    				<div class="media-body">
		    					<h4 class="media-heading">St. Andrew's Junior College</h4>
		    					<i>January 2011 - December 2012</i>
		    					<p>
		    					<ul>
		    					<li>GCE A Levels Science Stream</li>
		    					<li>Quarter Master of SAJC Outdoor Adventure Club</li>
		    					</ul>	
		    					</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>

		    </div>

		</div>
	</div>
</section>