<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/EmoHealth/mobile-app">
                <img class="img-portfolio img-responsive" src="img/emo_health.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <p> EmoHealth <br>
                <a href="https://github.com/EmoHealth/mobile-app" class="btn btn-default">Click Here</a>
              </p>
            </div>
          </div>
        </div>

        <div class ="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <p> Menion<br>
              <a href="https://github.com/EmoHealth/mobile-app" class="btn btn-default">Click Here</a>           </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/CS2103AUG2016-W14-C2/main">
                <img class="img-portfolio img-responsive" src="img/menion.png">
              </a>
            </div>
          </div>
        </div>

        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
