<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">

        <!-- EMOHEALTH -->
        <div class="row">
          <div class="media">
            <div class="media-left">
                <div class="portfolio-item">
                  <a href="https://github.com/EmoHealth/mobile-app">
                    <img src="img/emo_health.png" class="media-object" class="img-thumbnail">
                  </a>
                </div>
            </div>

            <div class="media-body">
              <div class="portfolio-item">
                <h4 class="media-heading">EmoHealth</h4>
                <p> <ul>
                  <li>An emotion diary which allows user to log in their emotions and thoughts of the day.</li>
                  <li>Provides random motivational quotes for the user.</li>
                   <li>Built with Java, Android API and the Android Studio.</li>
                  <li>Project for NUS Hack'n Roll 2017 Hackathon.
                  </ul>
                   <a href="https://github.com/EmoHealth/mobile-app" class="btn btn-default">Link</a>
                  </p>
              </div>
            </div>
          </div>
        </div>

        <!-- MENION -->
        <div class="row">
          <div class="media">
            <div class="media-left">
                <div class="portfolio-item">
                  <a href="https://github.com/CS2103AUG2016-W14-C2/main">
                    <img src="img/menion.png" class="media-object" class="img-thumbnail">
                  </a>
                </div>
            </div>

            <div class="media-body">
              <div class="portfolio-item">
                <h4 class="media-heading">MEnion</h4>
                <p> <ul>
                <li>A task manager which manages the daily tasks and activities of the user. </li>
                <li>It is operated primarily with keyboard which allows greater efficiency for the user.</li>
                <li>Built using Java and JavaFX.</li>
                <li>Coursework for CS2103 Software Engineering Module.</li>
                  </ul>
                   <a href="https://github.com/CS2103AUG2016-W14-C2/main" class="btn btn-default">Link</a>
                  </p>
              </div>
            </div>
          </div>
        </div>

        <!-- iQueue -->
        <div class="row">
          <div class="media">
            <div class="media-left">
                <div class="portfolio-item">
                  <a href="http://iqueueorbital.herokuapp.com">
                    <img src="img/iqueue.png" class="media-object" class="img-thumbnail">
                  </a>
                </div>
            </div>

            <div class="media-body">
              <div class="portfolio-item">
                <h4 class="media-heading">iQueue</h4>
                <p> <ul>
                <li>Online queuing system for patrons to order and queue up for their food.</li>
                <li>Integrated with NUS IVLE system, allowing seamless and secure access for students and staff of NUS.</li>
                <li>2 different interfaces for patrons and storeowners.</li>
                <li>Project for NUS Orbital Summer Programme.</li>
                <li>Build with the MEANJS Stack, HTML, CSS and Twitter Bootstrap.</li>
                </ul>
                   <a href="http://iqueueorbital.herokuapp.com" class="btn btn-default">Link</a>
                  </p>
              </div>
            </div>
          </div>
        </div>


        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
